# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Virtual environments
venv/
env/
ENV/

# Testing
.pytest_cache/
htmlcov/
.coverage

# Tooling
.DS_Store
