# Virtual Environment
venv/
.env
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Docker
.dockerignore

# IDEs
.idea/
.vscode/
*.swp
*.log
server.log
